.featuredContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 8rem 1rem 8rem;
    gap: 5%;
    text-align: justify;
    flex-direction: column;
    .featuredContainerWrapper {
        display: flex;
        flex-direction: row;
    }
    .textContainer {
        padding: 40px 20px 20px 20px;
        h3 {
            font-size: 1.4em;
        }
        span {
            font-size: 0.8em;
            color: rgb(39, 39, 39);
        }
    }
}

.featuredImagesContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .featuredImages {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        .featuredImagesWrapper {
            width: 200px;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                // &:hover {
                //     border: 1px solid red;
                // }
            }
            .itemInfoContainer {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                .itemTitle {
                    color: #000;
                    font-weight: 500;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 0.8rem;
                }
                .itemInfoContainerPrice {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    font-size: 1rem;
                    .originalPrice {
                        color: rgb(129, 128, 128);
                        text-decoration: line-through;
                    }
                    .finalPrice {
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .topRated {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 80px;
        position: absolute;
        text-align: center;
        font-size: 0.8rem;
        top: 10px;
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 10px;
        background-color: white;
        color: rgb(2, 174, 146);
        padding: 3px;
    }
}