.categoryContainer {
    display: flex;
    margin-top: 8rem;
    width: 100%;
    height: 400px;
    .categoryLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin-right: 10px;
        .leftTop {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            height: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .leftBottom {
            align-self: center;
            width: 100%;
            height: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .midLeft {
        width: 25%;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .categoryRight {
        width: 50%;
        .rightTop {
            display: flex;
            flex-direction: row;
            height: 50%;
            margin-bottom: 10px;
            .midRightTop {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .endRightTop {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .rightBottom {
            height: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}