.contact {
    display: flex;
    background-color: rgb(2, 174, 146);
    color: #fff;
    margin-top: 10rem;
    justify-content: center;
    height: 4rem;
    .wrapper {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            padding: 10px;
            height: 2em;
            border: none;
            &:focus {
                outline: none;
            }
            border-radius: 5px 0 0 5px;
        }
        button {
            border-radius: 0 5px 5px 0;
            background-color: rgb(39, 39, 39);
            color: #fff;
            width: 5rem;
            border: none;
            height: 3.5em;
        }
        .socialIcons {
            display: flex;
            gap: 10px;
        }
    }
}